@font-face {
    font-family: Caviar;
    src: url(CaviarDreams.ttf);
}

* {
    font-family: Caviar;
    color: rgb(87, 87, 87);
}

body {
    background-color: rgb(255, 255, 255);
    position: relative;
}


.content {
    display: flex;
    flex-wrap: wrap;
    animation: fadeIn 1s ease-in-out;
}


.content1 {
    margin: 2vw 20vw;
    display: flex;
    flex-direction: column;
}

.content1 h1 {
    margin-top: 0;
    font-size: 20pt;
    color: rgb(87, 87, 87);
}

.content1 p {
    font-size: 20pt;
    color: rgb(87, 87, 87);
}

.content1 img {
    border-radius: 8px;

    max-height: 150px;
    min-height: 50px;
    object-fit:contain;

    margin-bottom: 5vw;
}

.content2 {
    margin: 0 10vw;
    color: rgb(87, 87, 87);
}

.content3 {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 100%;
    margin-top: 3vw;
    color: rgb(87, 87, 87);
}

.content-skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.content4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    margin: 7vw 10vw;
    text-align: center;
    color: rgb(87, 87, 87);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    text-decoration: underline;
}

nav {
    display: flex;
    margin: 5dvh;
    font-size: 15pt;
    justify-content: flex-end;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

nav #nav1 {
    color: rgb(101, 101, 255);
}

nav a:hover {
    color: rgb(147, 124, 80);
}

@media (max-width: 750px) {
    .content1 {
        margin: 3dvh 1dvh;
    }

    .content1 h1 {
        font-size: 30pt;
    }

    .content1 p {
        font-size: 20pt;
    }

    .content1 img {
        width: auto;
        border-radius: 7px;
    }

    .content2 {
        margin: 3dvh;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}